/* Enter your custom styles here */
.title1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    background-color: red ;
}

#title2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
}

#hidden{
    visibility: hidden;
}

@media (max-width:900px) {
    #hidden{
    display: none;
}
}